body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
  }
  
  .numbers {
    display: flex;
    justify-content: center;
  }
  
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  p span {
    font-weight: bold;
    font-size: 24px;
    color: red;
  }
  